*,
*::before,
*::after {
	box-sizing: border-box;
}



/** air quality color **/

.bg_green {
	background-color: #86C166 !important;
}

.bg_yellow {
	background-color: #F6C555 !important;
}

.bg_orange {
	background-color: #E98B2A !important;
}

.bg_red {
	background-color: #C73E3A !important;
}

.bg_purple {
	background-color: #77428D !important;
}

.bg_lakes {
	background-color: #C1328E !important;
}


/**  **/


select {
	font-family: 'Noto Sans TC', sans-serif;
}

/**  **/

.aqi_card {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}

a.aqi_card {
	color: #4a4a4a;
}

.aqi_item {
	border: 3px solid #363636;
	padding: 10px;
	background: #fff;
	flex: 1 1 auto;
	margin: 0px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

	.aqi_item:last-child {
		border-left: 0px;
	}


.aqi_item_wrapper {
	position: relative;
	border-left: 3px solid #363636;
	border-right: 3px solid #363636;
	border-bottom: 3px solid #363636;
	background-color: #fff;
}

	.aqi_item_wrapper ul {
		margin-left: 20px;
		margin-right: 20px;
	}

	.aqi_item_wrapper li {
		padding: 10px;
		border-bottom: 2px solid #363636;
	}

		.aqi_item_wrapper li:first-child {
			padding-top: 15px;
		}

		.aqi_item_wrapper li:last-child {
			border-bottom: 0;
		}

.aqi_item_cht {
	display: inline-block;
	font-size: 20px;
	font-weight: 900;
}

.aqi_item_eng {
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
}

.aqi_item_index {
	display: inline-block;
	position: absolute;
	right: 30px;
	text-align: right;
	font-size: 20px;
	font-weight: 900;
}



/***
	PTX Air CSS 
***/

/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {
	margin: 20px 0 20px 0;
	width: 350px;
	height: 450px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	text-transform: uppercase;
	/*--------------------
  Header
  --------------------*/
	/*--------------------
  Cities
  --------------------*/
	/*--------------------
  Infos
  --------------------*/
	/*--------------------
  Strap
  --------------------*/
}

	.boarding-pass small {
		display: block;
		font-size: 11px;
		color: #000;
		margin-bottom: 2px;
	}

	.boarding-pass strong {
		font-size: 15px;
		display: block;
	}

	.boarding-pass header {
		background: linear-gradient(to bottom, #fff, #f2f2f2);
		padding: 12px 20px;
		height: 60px;
	}

		.boarding-pass header .logo {
			position: relative;
			top: 5px;
			left: -10px;
			float: left;
			display:inline;
			width: 150px;
			height: 31px;
		}

		.boarding-pass header .flight {
			float: right;
			color: #99D298;
			text-align: right;
		}

			.boarding-pass header .flight small {
				font-size: 8px;
				margin-bottom: 2px;
				opacity: 0.8;
			}

			.boarding-pass header .flight strong {
				font-size: 18px;
			}

	.boarding-pass .cities {
		position: relative;
		background-color: #99D298;
		border-top: 1px dashed #239422;
		border-bottom: 1px dashed #239422;
	}

		.boarding-pass .cities::after {
			content: '';
			display: table;
			clear: both;
		}

		.boarding-pass .cities .city {
			padding: 20px 18px;
			float: left;
		}

			.boarding-pass .cities .city:nth-child(2) {
				float: right;
			}

			.boarding-pass .cities .city strong {
				font-size: 40px;
				font-weight: 300;
				line-height: 1;
			}

			.boarding-pass .cities .city small {
				margin-bottom: 0px;
				margin-left: 3px;
			}

		.boarding-pass .cities .airplane {
			position: absolute;
			width: 30px;
			height: 25px;
			top: 57%;
			left: 30%;
			opacity: 0;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-animation: move 4s infinite;
			animation: move 4s infinite;
		}

@-webkit-keyframes move {
	40% {
		left: 50%;
		opacity: 1;
	}

	100% {
		left: 70%;
		opacity: 0;
	}
}

@keyframes move {
	40% {
		left: 50%;
		opacity: 1;
	}

	100% {
		left: 70%;
		opacity: 0;
	}
}

.boarding-pass .infos {
	display: flex;
	border-top: 1px solid #99D298;
}

	.boarding-pass .infos .places,
	.boarding-pass .infos .times {
		width: 100%;
		padding: 10px 0;
	}

		.boarding-pass .infos .places::after,
		.boarding-pass .infos .times::after {
			content: '';
			display: table;
			clear: both;
		}

		.boarding-pass .infos .times strong {
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
			-webkit-transform-origin: left bottom;
			transform-origin: left bottom;
		}

	.boarding-pass .infos .times {
		background: #E2EFE2;
		border-right: 1px solid #99D298;
	}

		.boarding-pass .infos .times small {
			color: #97A1AD;
		}

		.boarding-pass .infos .times strong {
			color: #239422;
		}

	.boarding-pass .infos .airbox {
		padding: 10px 20px 10px;
		width: 50%;
		float: left;
	}

		.boarding-pass .infos .airbox small {
			font-size: 10px;
		}

.boarding-pass .strap {
	clear: both;
	position: relative;
	border-top: 1px solid #99D298;
}

	.boarding-pass .strap::after {
		content: '';
		display: table;
		clear: both;
	}

	.boarding-pass .strap .airbox {
		padding: 23px 0 20px 20px;
		float:left;
	}

		.boarding-pass .strap .airbox div {
			margin-bottom: 15px;
		}

			.boarding-pass .strap .airbox div small {
				font-size: 10px;
			}

			.boarding-pass .strap .airbox div strong {
				font-size: 13px;
			}

		.boarding-pass .strap .airbox sup {
			font-size: 8px;
			position: relative;
			top: -5px;
		}

	.boarding-pass .strap .qrcode {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 80px;
		height: 80px;
	}

/*******
IG Style Card	
******/
.article-card {
	border-radius: .25rem;
	-webkit-box-shadow: 0 0 0.25rem 0 rgba(35,55,75,.4);
	box-shadow: 0 0 0.25rem 0 rgba(35,55,75,.4);
}

.article-card-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem 1rem;
	border-bottom: 1px solid #e6e6e6;
}

.avatar-xxs {
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	background-color: #f6f6f6;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	border: 1px solid #363636;
}

.article-bar-status {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.info-meta {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #363636;
	margin-right: .5rem;
}

.article-card-cover {
	background-color: #f6f6f6;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	min-height: 115px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.article-card-body {
	padding: .5rem 1rem;
}

.article-card-title {
	border-bottom: 1px solid #363636;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
}

.article-project-time {
	-ms-flex-item-align: stretch;
	align-self: stretch;
	padding: .25rem 0 0;
	font-weight: 400;
	font-size: .875rem;
	color: #848484;
}

.article-info-reward-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 12px;
	margin-bottom: .25rem;
}

.article-info-reward[rel=public] {
	color: #ffdd57;
}

.article-card-desciption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #848484;
	font-size: .875rem;
}

.article-card-btn {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-left: .5rem;
	font-size: 1rem;
	color: #ffdd57;
	padding: 0 0 .5rem .5rem;
}

