@model IEnumerable<OpenData.Domain.ViewModels.PTX.Air_AriportViewModel>
@{
    ViewBag.Title = "Airport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
	<div class="container">
		<h1 class="title">
			台灣機場即時入境航班查詢
		</h1>
	</div>
</section>

