
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <h1 class="title">
            動物用藥資訊
        </h1> 
    </div>
</section>
