 <section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hero title @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)
            </h1>
            <h2 class="subtitle">
                Hero subtitle
            </h2>
        </div>
    </div>
</section>